{% extends 'Noticias/index.html' %}
{% load crispy_forms_tags %}
{% block content %}

  {% if form.errors %}

    <div class="alert alert-danger" role="alert">
      
      A simple danger alert—check it out!
    
    </div>

  {% endif %}
  <p></p>
  <h1>Modifica tu noticia</h1>

  <form action="{% url 'actualizarNoticia' noticia.id %}" method="POST">

    {% csrf_token %}
    {% if mensaje %}
      <div class="alert alert-success" role="alert">
        Notica actualizada exitosamente
      </div>

    {% endif %}

    {{ form|crispy }}

    <p> </p>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-warning" href="{% url 'listaNoticia' %}">Cancelar</a>
  </form>

{% endblock %}